.about{
    background: url('../img/about_bg.jpg') center (center/cover) no-repeat;
    height: 100vh;
    padding-top: 8vh;
    &_title{
        font-weight: 200;
        font-size: 40px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color:#fff;
    }
    &_wrapper{
        margin: 8vh auto 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15vh;
        justify-content: center;
        align-items: center;
        img{
            margin: 0 auto;
            display: block;
            width: 180px;
            height: 180px;
            object-fit: cover;
        }
    }
    &_descr{
        color: #fff;
        font-weight: 200;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
    }
    
    
}