.burger{
    width: 75vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10vh 0;
    &_menu{
        font-weight: 200;
        font-size: 50px;
        line-height: 0px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
    }
    
}
.bg{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.6s all;
    &_active {
        right: 0;
    }
}